<%= form_for purchase do |f| %>
  <div data-controller="nft-quantity" data-nft-quantity-price-value="<%= Purchase::DEFAULT_NFT_PRICE %>">
    <div class="flex max-w-md">
      <div data-action="click->nft-quantity#remove">
        <img src=<%=image_path('minus_quantity_control.png') %> />
      </div>
      <div class="relative">
        <img src=<%=image_path('input_quantity_control.png') %> />
        <%= f.number_field :quantity, data: { 'nft-quantity-target' => 'counter' }, placeholder: "0", class: "w-full absolute absolute-center max-w-xs text-center text-3xl text-white border-none bg-white/[0.0]", value: "0" %>
      </div>
      <div data-action="click->nft-quantity#add">
        <img src=<%=image_path('plus_quantity_control.png') %> />
      </div>
    </div>
    <%= inline_error_for(:quantity, purchase) %>
    <%= hidden_field :user, :telegram_id %>
    <div class="relative mt-4">
      <img src=<%=image_path('primary_button.png') %> />
      <div class="absolute-center text-center">
        <%= f.submit "Оплатить" %>
        <span data-nft-quantity-target="totalPrice">0</span>TON
      </div>
    </div>
  </div>
<% end %>
