<!DOCTYPE html>
<html>
  <head>
    <title>TonMonkeyBot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="min-h-screen justify-center mx-auto flex">
      <div class="flex flex-col overflow-hidden bg-no-repeat bg-cover bg-center bg-[url('bg.gif')] min-w-full">
        <header class="flex flex-row justify-between py-4 bg-white/[0.8]">
          <div class="flex divide-x ml-2">
            <img src="<%=image_path('tmb_logo.png')%>" alt=""/>
            <div class="bg-black w-1 ml-2"></div>
            <div class="flex flex-col ml-2">
              <span class="text-smm">TON</span>
              <span class="text-smm">MONKEY</span>
              <span class="text-smm">BUSINESS</span>
            </div>
          </div>
          <div class="flex align-center justify-center mr-4 pt-3">
            <span class="inline-block align-baseline text-2xl font-bold text-center">NFT</span>
          </div>
        </header>
<!--        <div id="flash" class="flash">-->
          <%#= render partial: "shared/flash" %>
<!--        </div>-->
        <div id="flash" class="flash">
          <%= render "layouts/flash" %>
        </div>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
